<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" type="text/css" href="./static/css/bertmatch.css">
  <script src="./static/js/bertgame.js"></script>

  <script>
	

	
  </script>
</head>
<body>
	<div class="jumbotron text-center">

		<h1>BERT Match</h1>
		<p>Paraphrase the given sentence and earn points!</p>
		
	</div>
	<div class="container">
	
		<div class="row" id="alertdiv">
			<div class="col-sm-12">
				<div class="alert alert-success" id="alertsuccessbox" >
					<strong>Success!</strong> <p id="alertmsg" > This alert box could indicate a successful or positive action. </p>
				</div>
				<div class="alert alert-danger" id="alerterrbox" >
					<strong>Error!</strong> <p id="alerterrmsg" >Please check whether you are connected to the internet. </p>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				Q: <p  id="question" style="font-size:large"> </p>
			</div>
			<div class="col-sm-4"></div>
		</div>
		
		
		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
				<button id="submitbtn" type="button" class="btn btn-primary btn-lg btn-block" style="margin-top: 30px">Submit</button>
				
			</div>
			<div class="col-sm-4"></div>
		</div>
		 
	</div>
</body>
</html>