<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" type="text/css" href="./static/css/bertquiz.css">
  <link rel="stylesheet" type="text/css" href="./static/css/fancybutton.css">
  <script src="./static/js/bertquiz.js"></script>

  <script>
	

	
  </script>
</head>
<body>
	<div class="jumbotron text-center">

		<img src="./static/img/puffin.jpg" style="max-width: 8%; height:auto" class="img-fluid"><h1 style="font-family: Magneto">Puffin</h1>
		<p style="font-family: Lucida Console; font-weight: 250" >Test your English language skills!</p>
		
	</div>
	<div class="container">
	
		
		
		<div class="row">
		
			<div class="col-sm-3">
			</div>
			<div class="col-sm-3">
			<div id="wrapper" style="padding-left:15%">
				  <a href="bertmatch.html" class="my-super-cool-btn">
					
					<span style="color:#000">BERT Match</span>
				  </a>
			</div>
			</div>
			
			<div class="col-sm-3">
			<div id="wrapper" style="padding-left:10%">
				  <a href="bertquiz.html" class="my-super-cool-btn">
					
					<span>BERT Quiz</span>
				  </a>
			</div>
			</div>
			<div class="col-sm-3">
			</div>
			
		</div>
		
		
		 
	</div>
</body>
</html>